.heroSection{
    position: relative;
    height: 98vh;
    width:100%;
}


.imageContainer{
    position: absolute;
    top:0;
    left:0;
    background: pink;
    height: 100%;
    width:100%;
    z-index: -1;
}


.theImage{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

.heroCover{
    background: rgba(0,0,0,0.48);
    height: 100%;
    width:100%;
    padding-left: 15vw;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.coverTop>h1{
    font-size: 40px;
    color: #fff;
}

.coverTop p{
    color: #fff;
}

.heroCover>p{
    color: #fff;
    font-size: 19px;
}

.secondSection{
    background: black;
    color:#fff;
    height: 100%;
    width: 100%;
    padding: 6vh 10vw;
}

.recentContainer{
    background: yellow;
    height: 55vh;
    width: 100%;
}

.cardsContainer{
    display: flex;
}