.singleCard{
/*    background: #f8f8ff;*/
/*    background-color:#333;*/
    height: 208px;
    width:380px;
    padding: 22px 28px;
    border-radius: 10px;
    color:#fff;
    margin-bottom: 50px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #fff;
}

.singleCard:hover{
    transform: scale(1.02);
}

.singleCardHeader{
/*    background: pink;*/
    height: 50px;
    display: flex;
    justify-content: space-between;
/*    align-items: center;*/
    text-align: center;
    margin-bottom: 30px;
}

.personInfo{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.namebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 7px;
}

.namebox>i{
   font-size: 18px; 
    color: orange;
}



.imageContainer{
    position: relative;
    background: red;
    height: 45px;
    width:45px;
    border-radius: 50%;
    overflow: hidden;
}

.theImage{
    position: absolute;
    height: 100% !important;
    width:100% !important;
    object-fit: cover !important;
}

.singleCard>footer>p{
    text-align: center;
}





