.topSection{
    background: pink;
    position: relative;
    height: 42vh;
}

.imageContainer{
    position: absolute;
    height: 100%;
    width:100%;
}

.theImage{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}


.heroCover{
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.45), rgba(0,0,0,0.9));
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding: 3vh 0;
}

.heroCover>div{
/*    background: red;*/
    width: 50%;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroCover i{
    font-size: 40px;
    margin-left:5px;
    color:darkgray;
}

.heroCover i.active{
    color:yellow;
}

.heroCover p{
    font-size: 20px;
    margin-top: 15px;
}

/*BODY SECTION*/
.movieBody{
/*    background: pink;*/
    min-height: 100vh;
    padding: 5vh 23.5vw;
    color: #fff;
}

.movieBodyName{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.movieBodyName>h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.movieBodyName>i{
    background: rgba(222,222,222,0.35);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.movieBodyName>i:hover{
    background: rgba(222,222,222,0.6);
}

.actionArea{
    width:75%;
/*
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: pink;
*/
}

.actionAreaRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    background: pink;*/
}

.actionAreaRight>a{
    text-decoration: none;
}

.actionAreaRight>a>button{
    background:none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}


/*
.actionArea>a>button{
    background: red;
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
*/

.actionArea>a>button:hover{
    background-color: crimson;
}

.actionAreaRight{
    width: 60%;
/*    display: flex;*/
    justify-content: space-between;
    align-items: center;
}

.actionAreaRight>b{
    cursor: pointer;
}

.actionAreaRight>b{
    background: rgba(222,222,222,0.5);
    width: 220px;
    height: 48px;
    padding: 4px 10px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}



.synopsis{
    margin: 50px 0;
}

.synopsis>h1,
.reviewContainer>h1{
    font-size: 25px;
    margin-bottom: 10px;
}

.reviewContainer{
    min-height: 50vh;
}

.reviewContainer>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:1000px){
    .movieBody{
        padding: 5vh 15.5vw;
    }
}

@media (max-width:900px){
    .topSection{
        background: pink;
        position: relative;
        height: 30vh;
    }

    .heroCover i{
        font-size: 30px;
    }
    
    
    .movieBody{
        padding: 5vh 6.5vw;
    }
    
    
    .actionArea{
        width:100%;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    
    .movieBodyName{
        width:100%;
/*        background: pink;*/
    }
    .movieBodyName>h1{
        font-size: 30px;
    }
    
/*
    .actionArea>a>button{
        display: block;
        width: 150px;
        height: 47px;
        font-size: 15px;
        font-weight: 700;
        order: 3;
    }
*/
    
    .actionAreaRight{
        width: 98%;
/*
        flex-direction: column;
        align-items: flex-start;
*/
        justify-content: space-between;
    }
    
    .actionAreaRight>b{
        background: rgba(222,222,222,0.5);
        width: 170px;
        height: 47px;
        font-size: 13.5px;
        padding: 4px 10px;
    }
    
    .reviewContainer>div{
        justify-content: center;
    }

}

